# Ignore the node_modules directory
node_modules

# Ignore the .cache directory
/.cache

# Ignore the /public/build directory
/public/build

# Ignore the /build directory
/build

# Ignore the .env file
.env

# Ignore the Local Netlify folder
.netlify

# Ignore the .DS_Store file
.DS_Store
